.footer {
  padding: 3rem 4rem;
  background: #EEEEEE;
  color: #222;
  font-family: "Crimson Text", serif;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top i {
  color: #222;
  font-size: 2rem;
  margin-left: 1rem;
}

.top i:hover {
  color: #F4C7C7;
}

@media screen and (max-width: 850px) {
  .footer {
    padding: 3rem 2rem;
  }

  .footer i {
    margin: 1rem 1rem 0 0;
  }
}